body {background-color: black; max-width: 800px; margin: auto;}
* {font-family: Arial, sans-serif}
a:link {color: blue;}
a:visited {color: #90f;}
a:active {color: red;}
strong {color: red;}
h1 {font-family: 'Times New Roman', Times, serif; font-size: 3.5rem; text-align: center; padding-top: 50.5px; padding-bottom: 55px; background: linear-gradient(#000, #000, #111, #111, #111, #111, #aaa, #aaa); margin-top: 0%; margin-bottom: 0%;}
h2 {text-align: center; font-size: 1rem;}
p {font-size: 1rem; text-indent: 3rem; line-height: 1.75rem; margin: auto;}
pre {word-spacing: 1px; letter-spacing: 0.5px; font-size: 1rem; padding: 10mm; text-wrap-mode: wrap; background: #aaa; margin-top: 0px; margin-bottom: 0px;}
button {font-size: 0.9rem;}
@media screen and (max-width: 1200px){
    pre, h2 {font-size: 3rem;}
    h1 {font-size: 6rem;}
    p {font-size: 2rem; line-height: 3rem;}
    button {font-size: 2rem;}
    body {max-width: 1000px; width: auto;}
}
i {color: inherit;}
span {text-indent: 0.5in;}
br {margin-left: 0.5in;}
i {color: inherit; font-family: inherit;}

/* classes */
.new-para {margin-left: 0.5in;}
.warning {color: red; font-size: 125%;}
.info {color: #00ff00; background-color: #f00; font-family: lucida console; text-align: center; display: block; margin: 10px; font-size: 250%; cursor: default;}

.link {font-size: inherit; font-family: inherit; color: blue;}
.link:hover {color: #90f; font-style: italic; cursor: pointer;}

.background {word-spacing: 1px; letter-spacing: 0.5px; font-size: 1rem; padding: 38px; text-wrap-mode: wrap; background: #aaa; margin-top: 0px; margin-bottom: 0px;}
.continue {font-size: 1.5rem; text-align: center;}
@media screen and (max-width: 1000px) {
    .background {font-size: 5rem;}
    .continue {font-size: 3rem;}
}
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -163px;
    transition: 0.3s;
    background: linear-gradient(90deg, #111, #000); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 5px;
    text-align: left;}
.sidebar:hover{
    left: 0px;
}



/*  fuck
    4u(k
    fu(k
    FUCK*/