body {
    margin: 0;
    background: linear-gradient(90deg, #fff, #333, #222, #333, #fff)
}

div.left {
    max-width: 25vw;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(aqua, rgb(0, 127, 255), blue);
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    right: 25vw;
}

div.center {
    margin-left: 26vw;
    margin-right: 26vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
    position: fixed;
}

div.right {
    margin-left: auto;
    margin-right: 0;
    max-width: 25vw;
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(crimson, red, darkred);
    z-index: 1;
}

.upgrade-container {
    position: relative;
    width: 99%;
    height: max-content;
    background: linear-gradient(#111, #fff);
    border: 0.25rem black solid;
    border-right: none;
    min-height: 3rem;
    max-height: 3rem;
    text-align: left;
    align-items: left;
    display: grid;
    grid-auto-flow: column;
}

.upgrade {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    user-select: none;
    width: 2.65rem;
    display: flex;
    height: 2.65rem;
    margin: 0%;
    border: 3px double #ff0;
    background-color: #777;
    cursor: pointer;
    text-align: center;
    color: white;
    text-shadow: 2px 0px 2.5px black;
    font-size: 1rem;
}

.item-container {
    position: relative;
    width: 99%;
    height: 100%;
    background: linear-gradient(#111, #fff);
    border: 0.25rem black solid;
    border-right: none;
}

.item {
    display: inline-block;
    position: relative;
    user-select: none;
    width: 97.5%;
    margin: 0%;
    border: 0.45rem solid #ff0;
    border-right: none;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #777;
    cursor: pointer;
    text-indent: 1rem;
    text-align: left;
    color: white;
    text-shadow: 2px 0px 2.5px black;
}

#vibes{
    display: inline-block;
    text-align: right;
    margin-left: 12rem;
}
#vibePrice{
    font-size: x-small;
    font-weight: bolder;
}

#jork-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50%;
    margin-top: 25%;
    user-select: none;
    transform: translate(-50%, -50%);
}

#jorker {
    display: flex;
    /* padding: 5vw; */
    width: 10vw;
    height: 10vw;
    padding: 4px;
    background: rgb(0, 0, 0, 0);
    border: none;
    cursor: pointer;
    transition: 200ms;
}
#jorker:hover {
    width: 12vw;
    height: 12vw;
    transition: 0.2s;
}
#jorker:active {
    width: 11vw;
    height: 11vw;
    transition: 100ms unset;
}

#jrok {
    width: 100%;
    height: 100%;
}

#counter {
    color: white;
    padding-top: 50px;
    padding-bottom: 15vh;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: -5px 0px 3px black;
    cursor: default;
    user-select: none;
}

.toptext {
    color: white;
    padding-top: 50px;
    padding-bottom: 5vh;
    font-size: xx-large;
    font-weight: bold;
    text-shadow: 5px 0px 3px black;
    user-select: none;
}

#top {
    width: 100vw;
    height: 100vh;
    background: #000;
    color: #fff;
    z-index: 5;
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    padding-top: 30vh;
}

.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */

.tooltip .tooltiptext {
    display: none;
    width: 350px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border: 4px solid #000;
    border-radius: 4px;
    text-indent: 0%;

    position: absolute;
    z-index: 1;
    bottom: 110%;
    left: 14%;
    margin-left: -60px;

}
.tooltip:hover .tooltiptext {
    display: initial;
    opacity: 1;
}

i {
    font-size: xx-small;
    line-height: 0.5rem;
}