body {
    background-color: #000;
    background: linear-gradient(-45deg, #000, rgb(10,0,0), #000, rgb(0, 10, 30), #000, rgb(10, 0, 0), #000, rgb(0, 15, 10), #000, rgb(10,0,0), #000);
    background-size: 500% 500%;
    animation: gradient 240s linear infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 100%;
    }
}

strong {color: red;}
* {font-family: Arial, sans-serif;}
h1 {color:white; font-family: 'Times New Roman', Times, serif;}
h2 {color: white; font-size: medium;}
p {color: white;}
a {font-family: Arial; font-size: 100%;}
span {font-family: Arial; color: white;}
span:hover {font-family: arial; color: white; font-style: italic; font-size: 125%;}
video {border-color: blue; border-bottom-color: blue; border-right-color: blue; border-style: solid;}
video:hover {border: none;}
img {border: 2px; border-color: white; border-style: solid;}
img:hover {border: 2px; border-color: aqua; border-style: solid;}
img:active {border: 2px; border-color: black; border-style: solid;}
video {border-color: blue; border-bottom-color: blue; border-right-color: blue; border-style: solid;}
button {cursor: pointer;}

/* classes */
.center {display: block; margin: auto; height: 90%;}
.pages button {background-color: black; border: 1px solid white; color: white; padding: 5px 12px; cursor: pointer;}
.pages button:hover {background-color: black; border: 1px solid red; color: white; padding: 5px 12px; cursor: pointer;}
.pages button:hover {background-color: black; border: 1px solid red; color: #0ff; padding: 5px 12px; cursor: pointer;}
.blue:link, .blue:visited {color: aqua; font-family: lucida console; font-size: 100%;}
.blue:hover {color: aqua; background-color: rgba(0, 123, 255, 0.5); font-family: lucida console; font-size: 100%;}
.red:link, .red:visited {color: red; font-family: lucida console; font-size: 100%;}
.red:hover {color: red; background-color: #7d0000; font-family: lucida console; font-size: 100%;}
.hidden {color:black; cursor:default}
.hidden:hover {color:black; cursor:default; font-size: 100%;}
.audio {border: red, solid}
.audio:hover {border: #5f0, solid;}
.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -163px;
    transition: 0.3s;
    background: linear-gradient(90deg, #111, #000); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    padding-left: 5px;
    text-align: left;}
.sidebar:hover{
    left: 0px;
}

/* non-functional */
.sixteen-nine video {width: 286; height: 161;}
.one-one {width: 161; height: 161;}
.centerList {display: block; margin-left: 15px; margin-right: 15px; width: 95%; text-align: center;}
.centerAll {display: block; width: fit-content; text-align: center;}