.sidebar {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: -165px;
    transition: 0.3s;
    color: azure;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;}
.sidebar:hover{
    left: 0px;
}
.center {margin: auto;
    z-index: 0;}
.main{
    left: 165px;
    position: fixed;
}
body{
    left: 160px;
}